/*********************************************

This is the style file for this project.

**********************************************/


body {
  margin: 0;
  padding: 0;
  background-color: black;
  user-select: none;
  -webkit-user-select: none;
}

#game {
  display: none;
}

#menu {
  color: yellow;
  font-family: monospace;
  font-size: 2em;
  text-align: center;
  -webkit-transform: translate3d(0,0,0)
}

.option {
  /* padding-top: 1em; */
  cursor: pointer;
  display: inline-block;
}

/* MOBILE? */
@media only screen and (max-device-width: 768px) {
  body {
    font-size: 1.75em;
  }

  #wrapper {
    width: 100vw;
    margin: 0 auto;
  }

  #board {
    margin: 0 auto;
    width: 100vw;
  }

  .board-b72b1 {
    width: 100vw;
  }
}

/* DESKTOP and IPAD? */
@media only screen and (min-device-width: 768px) {
  #wrapper {
    width: 400px;
    margin: 0 auto;
  }

  #board {
    margin: 0 auto;
    width: 400px;
  }

  .board-b72b1 {
    width: 400px;
  }
}

#title {
  font-family: monospace;
  font-size: 5em;
  color: yellow;
  text-align: center;
  margin-top: 20px;
  -webkit-transform: translate3d(0,0,0)

}

.highlight1-32417 {
  -webkit-box-shadow:inset 0 0 3px 3px red;
  box-shadow: inset 200px 200px 0px 200px rgba(255,255,0,0.5);
}
